.header {
  width: 100%;
  position: fixed;
  background-color: darkturquoise;
  min-height: 40px;
  z-index: 2;
}

.nav-list {
  display: flex;
  margin: 0;
  list-style: none;
  align-items: center;
}

.nav-item {
  margin-left: 16px;
  color: #fff;
  line-height: 40px;
}

.content {
  min-height: 5000px;
  background-color: beige;
  padding-top: 150px;
  z-index: 1;
}

.head {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: aquamarine;
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  top: -60px;
  position: absolute;
}

.ear_right {
  float: right;
  right: -40px;
}

.ear_left {
  float: left;
  left: -40px;
}

.eye {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  top: 80px;
}

.eye_right {
  right: 40px;
}

.eye_left {
  left: 40px;
}
