
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.list {
  list-style: none;
}

 li {
  font-size: 1.6em;
  letter-spacing: 1.5px;
}

.first {
  text-decoration: red overline;
}

.second {
  text-decoration: line-through;
}

.third {
  text-decoration: green underline;
}


